body {
    margin: 0px;

}

.wrap {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.main {
    width: 75%;
    background-color: #243A63;
    background-size: cover ;
    color: white;
    font-weight: 500;
}

p {
    margin-left: 165px;
}

.main ul {
    
    list-style: none;
    text-align: left;
    line-height: 15px;
    font-size: 22px;
    width: 60vw;
}
.main ul li{
	margin-left:15px;
}

iframe{
	
	margin-left: 200px;
	width: 35vw;
	height: 25vh;
}



.info {
    background-color: 2D3968 ;
    width: 25%;
    color: white;
    display: flex;

}

a {
    text-decoration: underline ;
    color: white;
}

.per-info {
	line-height: 40px;
	list-style: none;
	font-size: 22px;
	font-weight: 500;
	align-self: center;

}
